<xmp>
    <style>
        h3.freeform-iframe-exclusive {
            text-align: center;
        }

        h2.freeform-iframe-headline {
            font-family: Pierpont-bold, serif;
            font-size: 42px;
            line-height: 36px;
            margin: 1% auto;
            text-align: center;
        }

        .zone-5 h2.freeform-iframe-headline {
            font-size: 29px;
            font-weight: normal;
            line-height: 31px;
        }

        @media (min-width: 1280px) {
            .zone-5 h2.freeform-iframe-headline {
                font-size: 26px;
            }
        }

        p.freeform-iframe-subhead {
            font-family: Georgia, serif;
            font-size: 18px;
            text-align: center;
        }

        .vidWrapper {
            margin-bottom: 1em;
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 25px;
            height: 0;
        }

        .vidWrapper iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 94%;
        }
    </style>
    {{#if exclusive}}
    <h3 class="freeform-iframe-exclusive section-name">ExpressNews.com Exclusive</h3> {{/if}} {{#if storyLink}}
    <h2 class="freeform-iframe-headline">
        <a href="{{storyLink}}">{{headline}}</a>
    </h2>
    {{else}}
    <h2 class="freeform-iframe-headline">{{headline}}</h2>
    {{/if}} {{#if chatter}}
    <p class="freeform-iframe-subhead">{{chatter}}</p>
    {{/if}}
    <div class="vidWrapper">
        {{{iframe}}}
    </div>
</xmp>