<xmp>
    <style>
        img.freeform-cp-photo {
            margin: 1em 0;
            width: 100%;
        }

        h3.freeform-exclusive {
            text-align: left;
            font-weight: bold;
        }

        h2.freeform-cp-headline {
            font-family: Pierpont-bold, serif;
            font-size: 42px;
            line-height: 36px;
            margin: 1% auto;
            text-align: left;
        }

        @media (min-width: 1280px) {
            h2.freeform-cp-headline {
                font-size: 33px;
            }
        }

        p.freeform-cp-subhead {
            font-family: Georgia, serif;
            font-size: 20px;
            width: 100%;
        }

        span.freeform-cp-dropcap {
            font-family: Pierpont-bold, serif;
            font-size: 32px;
            font-weight: bold;
        }
    </style>

</xmp>

<div class="solo_triple">
</div>

<h3 class="section-name freeform-exclusive" style="text-align:left;">Related Feature</h3>

<a href="{{storyLink}}" title="{{headline}}">
    <h2 class="freeform-cp-headline">{{headline}}</h2>
    <img class="freeform-cp-photo" src="{{image}}">
</a>

<p class="freeform-cp-subhead">{{chatter}}</p>